<!--TODO FIX PLACEHOLDER OF INPUT TEXT AREA TO HAVE CONTENT OF BLAB  -->
<!-- TODO FIX BLAB YA LATER LINK TO ACTUALLY LOG OUT -->
 </tbody>

<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="main-body">
      <nav>
        <h1>blabber</h1>
        <ul>
          <li class="nav1"><a href="/">all blabs</a></li>
          <li class="nav2"><a href="/new">new blab</a></li>
          <li class="nav3"><a href="/mine">my blabs</a></li>
          <form class="" action="/logout" method="post">
            <button type="submit" name="button">Later!</button>
          </form>
        </ul>
      </nav>
      <main>
        <h2>edit blab</h2>
        {{#blab}}
        <form class="blab" action="/blab/edit/{{id}}/editme" method="post">
          <input type="textarea" name="editblab" value="{{body}}">
          <button type="submit" name="new-button">omg blab</button>
        </form>
        {{/blab}}
      </main>
    </div>
  </body>
</html>
