<!-- TODO FIX BLAB YA LATER LINK TO ACTUALLY LOG OUT -->

<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/master.css">
  <title>{{pageTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="main-body">
    <nav>
      <h1>blabber</h1>
      <ul>
        <li class="nav1"><a href="/">all blabs</a></li>
        <li class="nav2"><a href="/new">new blab</a></li>
        <li class="nav3"><a href="/mine">my blabs</a></li>
        <form class="" action="/logout" method="post">
          <button type="submit" name="button">Later!</button>
        </form>
      </ul>
    </nav>
    <main>
      <h2>blabs</h2>
      <div class="blabs">
        {{#blabs}}
        <div class="blab">
          <div class="blab-bod">
            <h3>{{User.username}}</h3>
            <h4>{{body}}</h4>
            <h5>{{createAt}}</h5>
            <h4>{{Likes.length}} heckyeahs</h4>
          </div>
          <div class="blab-butt">
            <form class="" action="blab/{{id}}/like" method="post">
              <button type="submit" name="likebutton">heckyeah</button>
            </form>
          </div>
        </div>
        {{/blabs}}
      </div>
  </div>
  </main>
  </div>
</body>

</html>
