<!-- TODO FIX BLAB YA LATER LINK TO ACTUALLY LOG OUT -->

<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <ul>
        <li class="nav1"><a href="/main">all blabs</a></li>
        <li class="nav2"><a href="/new">new blab</a></li>
        <li class="nav3"><a href="/mine">my blabs</a></li>
        <li class="nav4"><a href="/logout">blab ya later</a></li>
      </ul>
    </nav>
    <main>
      <h1>new blab</h1>
      <form class="newblab" action="/newblab" method="post">
        <input type="textarea" name="newblab" value="" placeholder="blab here pls">
        <button type="submit" name="new-button"></button>
      </form>
    </main>
  </body>
</html>
