<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/master.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="box-body">
      <h1>blabber</h1>
      <h2>sign up to blab</h2>
      <form class="login" action="/signup/newuser" method="post">
        <input type="text" name="username" placeholder="username plz" value="">
        <input type="text" name="password" placeholder="password plz" value="">
        <input type="text" name="confirmpassword" placeholder="confirm password plz" value="">
        <button type="submit" name="login-button">sign me up plz</button>
      </form>
      <a href="/login">oh wait, already did this</a>
    </div>
  </body>
</html>
